# Created by .ignore support plugin (hsz.mobi)
.idea/EconomygeneticAlgorithm.iml
.idea/compiler.xml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
.idea/uiDesigner.xml
/.idea/libraries/
